<% include template/header %>
    <!--    Carousel strts here-->
    <div class="container-fluid carouseldiv">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/sliderimg1.jpg" alt="Los Angeles" style="width: 100%;"> </div>
                <div class="item">
                    <img src="img/sliderimg1.jpg" alt="Chicago" style="width: 100%;"> </div>
                <div class="item">
                    <img src="img/sliderimg1.jpg" alt="New York" style="width: 100%;"> </div>
                <div class="item">
                    <img src="img/sliderimg1.jpg" alt="New York" style="width: 100%;"> </div>
                <div class="item">
                    <img src="img/sliderimg1.jpg" alt="New York" style="width: 100%;"> </div>
            </div>


        </div>
    </div>
    <!--    Carousel ends here-->

    <!--    owl carousel starts here-->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <h1>
                        <img src="img/valucartbundle.png" class="img-responsive titleimg">Valuzone Bundles</h1>
                </div>
                <div class="col-xs-4 text-right p-t-30">
                    <a href="bundle-list" class="viewall">
                        <p class="text-info">View all</p>
                    </a>
                </div>
            </div>
            <section class="carousel1" id="carousel1">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/product1.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Organic Bundles</h4>
                                        <h6>23 Bundles</h6>
                                        <a href="organicbundles.html">
                                            <a href="bundle-detail">
                                                <button class="btn btn-info">
                                                    <i class="fa fa-arrow-right"></i>
                                                </button>
                                            </a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/product2.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Breakfast bundles</h4>
                                        <h6>23 Bundles</h6>
                                        <a href="bundle-detail">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/product1.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Household bundles</h4>
                                        <h6>23 Bundles</h6>
                                        <a href="bundle-detail">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/product2.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Organic Bundles</h4>
                                        <h6>23 Bundles</h6>
                                        <a href="bundle-detail">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/product1.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Organic Bundles</h4>
                                        <h6>23 Bundles</h6>
                                        <a href="bundle-detail">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/product2.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Organic Bundles</h4>
                                        <h6>23 Bundles</h6>
                                        <a href="bundle-detail">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <h1>
                        <img src="img/buildbundle.png" class="img-responsive titleimg">Build your own bundles</h1>
                </div>
                <div class="col-xs-4 text-right p-t-30">
                    <a href="#" class="viewall">
                        <p class="text-info">View all</p>
                    </a>
                </div>
            </div>
            <section class="carousel2" id="carousel2">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/bundleimg1.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Flour</h4>
                                        <a href="#">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/bundleimg2.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Biscuits</h4>
                                        <a href="#">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/bundleimg3.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Sauces & Spreads</h4>
                                        <a href="#">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/bundleimg1.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Organic Bundles</h4>
                                        <a href="#">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <img src="img/bundleimg2.png" class="img-responsive productimg">
                                        <h4 class="producttitle">Organic Bundles</h4>
                                        <a href="#">
                                            <button class="btn btn-info">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <h1>
                        <img src="img/exclusive.png" class="img-responsive titleimg">Valucart Exclusives</h1>
                </div>
                <div class="col-xs-4 text-right p-t-30">
                    <a href="product-listing" class="viewall">
                        <p class="text-info">View all</p>
                    </a>
                </div>
            </div>
            <section class="carousel3">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <i class="fa fa-heart wishheart"></i>
                                        <img src="img/exclusiveproductimg1.png" class="img-responsive productimg">
                                        <a href="productdetail.html">
                                            <h4>Original source shower gel</h4>
                                        </a>
                                        <h5>
                                            <img src="img/grammeter.png" class="img-responsive gramimg"> 370g</h5>
                                        <h6>45.00 AED</h6>
                                        <div class="productcountdiv button-container">
                                            <button class="btn btn-default productminus cart-qty-minus" value="-">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <!--<p class="productcount">1</p>-->
                                            <input type="text" name="qty" maxlength="12" value="0" class="input-text qty  productcount" disabled/>
                                            <button class="btn btn-default productplus cart-qty-plus" value="+">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <a href="cart">
                                            <button class="btn btn-info">
                                                <img src="img/addtocart.png" class="img-responsive addtocart"> Add to cart</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <i class="fa fa-heart wishheart"></i>
                                        <img src="img/jam.png" class="img-responsive productimg">
                                        <a href="productdetail.html">
                                            <h4>Hartley’s Apricot Jam</h4>
                                        </a>
                                        <h5>
                                            <img src="img/grammeter.png" class="img-responsive gramimg"> 370g</h5>
                                        <h6>45.00 AED</h6>
                                        <div class="productcountdiv button-container">
                                            <button class="btn btn-default productminus cart-qty-minus" value="-">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <!--<p class="productcount">1</p>-->
                                            <input type="text" name="qty" maxlength="12" value="0" class="input-text qty  productcount" disabled/>
                                            <button class="btn btn-default productplus cart-qty-plus" value="+">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <a href="cart">
                                            <button class="btn btn-info">
                                                <img src="img/addtocart.png" class="img-responsive addtocart"> Add to cart</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <i class="fa fa-heart-o wishheart"></i>
                                        <img src="img/nature.png" class="img-responsive productimg">
                                        <a href="productdetail.html">
                                            <h4>Nature’s path granola </h4>
                                        </a>
                                        <h5>
                                            <img src="img/grammeter.png" class="img-responsive gramimg"> 370g</h5>
                                        <h6>45.00 AED</h6>
                                        <div class="productcountdiv button-container">
                                            <button class="btn btn-default productminus cart-qty-minus" value="-">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <!--<p class="productcount">1</p>-->
                                            <input type="text" name="qty" maxlength="12" value="0" class="input-text qty  productcount" disabled/>
                                            <button class="btn btn-default productplus cart-qty-plus" value="+">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <a href="cart">
                                            <button class="btn btn-info">
                                                <img src="img/addtocart.png" class="img-responsive addtocart"> Add to cart</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <i class="fa fa-heart wishheart"></i>
                                        <img src="img/exclusiveproductimg1.png" class="img-responsive productimg">
                                        <h4>Organic Bundles</h4>
                                        <h5>
                                            <img src="img/grammeter.png" class="img-responsive gramimg"> 370g</h5>
                                        <h6>45.00 AED</h6>
                                        <div class="productcountdiv button-container">
                                            <button class="btn btn-default productminus cart-qty-minus" value="-">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <!--<p class="productcount">1</p>-->
                                            <input type="text" name="qty" maxlength="12" value="0" class="input-text qty  productcount" disabled/>
                                            <button class="btn btn-default productplus cart-qty-plus" value="+">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <a href="cart">
                                            <button class="btn btn-info">
                                                <img src="img/addtocart.png" class="img-responsive addtocart"> Add to cart</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="panel panel-default productpanel">
                                    <div class="panel-body text-center">
                                        <i class="fa fa-heart wishheart"></i>
                                        <img src="img/exclusiveproductimg1.png" class="img-responsive productimg">
                                        <h4>Organic Bundles</h4>
                                        <h5>
                                            <img src="img/grammeter.png" class="img-responsive gramimg"> 370g</h5>
                                        <h6>45.00 AED</h6>
                                        <div class="productcountdiv button-container">
                                            <button class="btn btn-default productminus cart-qty-minus" value="-">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <!--<p class="productcount">1</p>-->
                                            <input type="text" name="qty" maxlength="12" value="0" class="input-text qty  productcount" disabled/>
                                            <button class="btn btn-default productplus cart-qty-plus" value="+">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <a href="cart">
                                            <button class="btn btn-info">
                                                <img src="img/addtocart.png" class="img-responsive addtocart"> Add to cart</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--    owl carousel ends here-->
    <!--How it works -->
    <div class="container-fluid">
        <div class="container">
            <h2 class="howitworktitle">How it works</h2>
        </div>
    </div>
    <div class="container-fluid" style="background-color:#ededed">
        <div class="row">
            <div class="col-md-6 hidden-xs" style="padding: 0px; background-color: #ededed; overflow:hidden;">
                <div class="home">
                    <img src="img/index-bg.jpg" class="img-responsive" alt="" />
                </div>

            </div>
            <div class="col-md-6 howitworksbgcolor">
                <ul class="howitworkslist">
                    <li>
                        <div class="row">
                            <div class="col-md-2 col-xs-3">
                                <img src="img/step1.png" class="img-responsive">
                            </div>
                            <div class="col-xs-9">
                                <h6 class="purpletext"> STEP 1</h6>
                                <p>Login/Signup</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-2 col-xs-3">
                                <img src="img/step2.png" class="img-responsive">
                            </div>
                            <div class="col-xs-9">
                                <h6 class="purpletext"> STEP 2</h6>
                                <p>Browse through catalog</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-2 col-xs-3">
                                <img src="img/step3.png" class="img-responsive">
                            </div>
                            <div class="col-xs-9">
                                <h6 class="purpletext"> STEP 3</h6>
                                <p>Add to cart</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-2 col-xs-3">
                                <img src="img/step4.png" class="img-responsive">
                            </div>
                            <div class="col-xs-9">
                                <h6 class="purpletext"> STEP 4</h6>
                                <p>Checkout & pay</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-2 col-xs-3">
                                <img src="img/step5.png" class="img-responsive">
                            </div>
                            <div class="col-xs-9">
                                <h6 class="purpletext"> STEP 5</h6>
                                <p>Subscribe for your</p>
                                <p>weekly/monthly</p>
                                <p>requirements</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--How it works ends -->
    <% include template/footer %>