<% include template/myaccount/header %>
    <!-- main section -->
    <div class="container-fluid mybundles">
        <div class="container">
            <div class="row text-center">
                <h4>
                    <img src="img/mybundles.png" class="hidden-xs" alt="mybundles" /> My bundles</h4>
            </div>
            <div class="row" id="mybnd-desktop">
                <div class="col-md-9 bn-list">
                    <h5>Bundle 01 (10 items)</h5>
                </div>
                <div class="col-md-3 bn-img" style="margin-top: 10px;">
                    <img src="img/bn-edit.png" alt="bn-edit" />
                    <img src="img/bn-del.png" alt="bn-del" />
                </div>

                <div class="col-md-9 bn-list">
                    <h5>Bundle 02 (10 items)</h5>
                </div>
                <div class="col-md-3 bn-img" style="margin-top: 10px;">
                    <img src="img/bn-edit.png" alt="bn-edit" />
                    <img src="img/bn-del.png" alt="bn-del" />
                </div>
                <div class="col-md-9 bn-list" style="margin-bottom: 80px;">
                    <h5>Bundle 03 (10 items)</h5>
                </div>
                <div class="col-md-3 bn-img" style="margin-top: 10px;">
                    <img src="img/bn-edit.png" alt="bn-edit" />
                    <img src="img/bn-del.png" alt="bn-del" />
                </div>
            </div>
            <div class="row" id="mybnd-mobile">
                <div class="col-xs-12 bn-list">
                    <h5>Bundle 01 (10 items)</h5>
                    <a href="#">
                        <img src="img/bnd-list.png" alt="bnd-list" />
                    </a>
                </div>
                <div class="col-xs-12 bn-list">
                    <h5>Bundle 02 (10 items)</h5>
                    <a href="#">
                        <img src="img/bnd-list.png" alt="bnd-list" />
                    </a>
                </div>
                <div class="col-xs-12 bn-list">
                    <h5>Bundle 03 (10 items)</h5>
                    <a href="#">
                        <img src="img/bnd-list.png" alt="bnd-list" />
                    </a>
                </div>
                <a href="home.html">
                    <p class="end-text">Back to home</p>
                </a>
            </div>
        </div>
    </div>
    <!--Footer starts here-->
    <section class="footer" id="mybnd-desktop">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="img/logo.png" class="img-responsive footer-logo">
                    <ul class="footerlist">
                        <li>About us</li>
                        <li>Delivery policy</li>
                        <li>Terms & Conditions</li>
                        <li>Return policy</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Help</h4>
                    <ul class="footerlist">
                        <li>FAQ</li>
                        <li>Contact us</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h4>Follow us on:</h4>
                    <ul class="footerlist list-inline">
                        <a href="#">
                            <li class="social">
                                <i class="fa fa-facebook"></i>
                            </li>
                        </a>
                        <a href="#">
                            <li class="social">
                                <i class="fa fa-twitter"></i>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer id="mybnd-desktop">
        <h5>© 2018 Valucart. All rights reserved.</h5>
    </footer>
    <!--Footer ends here-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <!--    Includes all functions-->
    <script src="js/main.js"></script>
    <!--    owlcarousel js-->
    <script src="js/owlcarousel.js"></script>
    </body>

    </html>