<% include template/header %>
    <!--  bundle  Product  starts here-->
    <div class="bnd-products bnd-details" ng-app="myapp" ng-controller="userbundle">
        <div class="container-fluid create-bundle" style="margin-top: 20px;">
            <div class="container">
                <div class="row" id="cBundle-desktop">
                    <h4>
                        <img src="img/choose-bundle.png" alt="choose-bundle" /> My bundles</h4>
                </div>
                <div class="row" id="cBundle-mobile">
                    <p>My bundles
                        <img src="img/info.png" alt="information" />
                    </p>
                </div>
                <div class="row">
                    <div class="edit-bundle">
                        <h5 style="display: inline-block;" ng-bind-html="mybundle_name" ng-hide="edit_title"></h5>
                        <input type="text" name="bundlename" class="form-control-static" ng-value="mybundle_name" ng-show="edit_title">
                        <a ng-click="change_title()">
                            <img src="img/edit-bundle.png" alt="edit-bundle" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mycart">
            <div class="container container1">
                <div class="row">
                    <div class="col-md-8 no-pad mybunedit">
                        <div ng-include="'includes/userbundle.html'"></div>
                        <div id="shop-desktop">
                            <a href="#">
                                <h5 class="continue-text">+ Add more products</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 mybundleit" style="margin-top: 10px;" id="summary-desktop">
                        <div class="summary bnd-products">
                            <h4 class="order">Order Summary</h4>
                            <div id="subtotal">
                                <h5 class="total">Subtotal</h5>
                                <h5 class="total" style="float: right;">62.00 AED</h5>
                                <hr>
                            </div>
                            <div id="delivery">
                                <h5 class="total">Delivery Charges</h5>
                                <h5 class="total" style="float: right;">15.00 AED</h5>
                            </div>
                            <div id="savings" style="margin-top: 20px">
                                <h5 class="total">
                                    <strong>savings</strong>
                                </h5>
                                <h5 class="total" style="float: right;">
                                    <strong>7.50 AED</strong>
                                </h5>
                            </div>
                            <div id="total" style="margin-top: 20px">
                                <h5 class="total">
                                    <strong>Grand total</strong>
                                    <br>
                                    <span>(inclusive of 5%VAT)</span>
                                </h5>
                                <h5 class="total" style="float: right;">
                                    <strong>50.00 AED</strong>
                                </h5>
                            </div>
                        </div>

                        <button class="btn-proceed">Save</button>
                        <button class="btn-cancel">Cancel</button>

                    </div>
                </div>
                <div class="row" id="summary-mobile">
                    <div class="col-md-4 no-pad summary summary1">
                        <div class="btn-align">
                            <button class="btn-cancel">Cancel</button>
                            <button class="btn-proceed">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        app.constant("dataset", {
            'bundleId': <%= bundleId %>
        });
    </script>
    <!--     Product list ends here-->
    <% include template/footer %>