<% include template/header %>
    <div class="container-fluid mybundles">
        <div class="container">
            <div class="row" id="mybnd-desktop">
                <div class="row text-center">
                    <h4>
                        <img src="img/mybundles.png" alt="mybundles" /> My shopping list</h4>
                </div>
                <div class="col-md-9 bn-list">
                    <h5>Shopping list 01 (10 items)</h5>
                </div>
                <div class="col-md-3 bn-img">
                    <button class="bundlebtn">
                        <img src="img/bn-edit.png" alt="bn-edit" />
                    </button>
                    <button class="bundlebtn">
                        <img src="img/bn-del.png" alt="bn-edit" />
                    </button>
                </div>

                <div class="col-md-9 bn-list">
                    <h5>Shopping list 01 (15 items)</h5>
                </div>
                <div class="col-md-3 bn-img">
                    <button class="bundlebtn">
                        <img src="img/bn-edit.png" alt="bn-edit" />
                    </button>
                    <button class="bundlebtn">
                        <img src="img/bn-del.png" alt="bn-edit" />
                    </button>
                </div>
            </div>
            <div class="row" id="mybnd-mobile">
                <h4 class="text-center">My shopping list</h4>
                <div class="col-xs-12 bn-list">
                    <h5>Shopping list 01 (10 items)</h5>
                    <a href="#">
                        <img src="img/bnd-list.png" alt="bnd-list" />
                    </a>
                </div>
                <div class="col-xs-12 bn-list">
                    <h5>Shopping list 02 (10 items)</h5>
                    <a href="#">
                        <img src="img/bnd-list.png" alt="bnd-list" />
                    </a>
                </div>
                <a href="home.html">
                    <p class="end-text">Back to home</p>
                </a>
            </div>
        </div>
    </div>
    <% include template/footer %>