<% include template/header1.ejs %>
    <div class="container container1">
        <div class="row">
            <div class="text-center">
                <img src="img/logo.png" alt="ValuCart-logo" class="img-responsive" />
                <!-- <h4 class="logo-text">ValuCart</h4> -->
            </div>
            <h2 class="select-city">Which city are you from?</h2>
            <div class="col-md-6 m30 pad0">
                <ul class="select-your-city">
                    <li>
                        <input type="radio" id="dubai" name="selector">
                        <label for="dubai" class="radio-label">Dubai</label>

                        <div class="check"></div>
                    </li>

                    <li>
                        <input type="radio" id="sharjah" name="selector">
                        <label for="sharjah" class="radio-label">Sharjah</label>

                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 m30 pad0">
                <ul class="select-your-city">
                    <li>
                        <input type="radio" id="abu-dhabi" name="selector">
                        <label for="abu-dhabi" class="radio-label">Abu Dhabi
                            <br>
                            <span>coming soon...</span>
                        </label>

                        <div class="check"></div>
                    </li>

                    <li>
                        <input type="radio" id="khaimah" name="selector">
                        <label for="khaimah" class="radio-label">Ras Al Khaimah
                            <br>
                            <span>coming soon...</span>
                        </label>

                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <a href="area">
                    <button class="btn next-btn">Next</button>
                </a>
            </div>
        </div>
    </div>
    <% include template/footer1.ejs %>