<% include template/header1.ejs %>
    <div class="container container1">
        <div class="row text-center">
            <div class="text-center">
                <img src="img/logo.png" alt="ValuCart-logo" class="img-responsive" />
                <!-- <h4 class="logo-text">ValuCart</h4> -->
            </div>
            <h2 class="select-city">Which area do you live in?</h2>
            <select>
                <option>Select your area</option>
                <option value="dubai">Dubai</option>
                <option value="sharjah">Sharjah</option>
                <option value="abu">Abu Dhabi</option>
            </select>

            <a href="/">
                <h5>Change your city?</h5>
            </a>
            <div class="text-center">
                <a href="home">
                    <button class="btn next-btn">Start Shopping</button>
                </a>
            </div>
        </div>
    </div>
    <% include template/footer1.ejs %>