<% include template/header1.ejs %>
    <div class="container container1" ng-app="myapp" ng-controller="select_area">
        <div class="row text-center">
            <form name="selectArea" method="POST">
                <div class="text-center">
                    <img src="img/logo.png" alt="ValuCart-logo" class="img-responsive" />
                    <!-- <h4 class="logo-text">ValuCart</h4> -->
                </div>
                <h2 class="select-city">Which area do you live in?</h2>
                <select ng-model="area">
<% if (data){ 
    data.forEach(function(area){    
%>
                    <option value="<%= area.area_id %>"><%= area.area_name %></option>
<% })} %>
                </select>

                <a href="/">
                    <h5>Change your city?</h5>
                </a>
                <div class="text-center">
                    <button class="btn next-btn" type="submit">Start Shopping</button>
                </div>
            </form>
        </div>
    </div>
    <% include template/footer1.ejs %>