/* Line navbar two (lnt)
/ -------------------------------------------------- */
.thumbnails::-webkit-scrollbar {
  width: 5px;
}
.fullwidth .text-center h5.atcc {
  color: #fdfffc;
  font-size: 13px;
  font-weight: 100;
  text-decoration: underline;
  text-underline-position: under;
  margin-top: 60px;
  position: relative;
  top: 50px;
}
div#mybnd-desktop.pendingcart.temphide {
  display: none !important;
}
div#mybnd-desktop.pendingcart.temphide.showele {
  display: block !important;
}
.temphide {
  display: none !important;
}
.temphide.showele {
  display: inline-block !important;
}
.temphide.showsum {
  display: block !important;
}
.p-l-10 {
  padding-left: 10px;
}
.color-warn {
  color: #ea6547;
}
.color-ok {
  color: #860cf5;
}
.color-success {
  color: green;
}
select#city,
select#area {
  background-color: #dddddd;
}
.navbar-brand1.ad {
  height: 33px;
}
.bg-white {
  background: white;
}
