li.active.list-group-item {
  font-weight: 600;
}
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="radio"]:focus + label::before {
  outline: none;
  outline-offset: none;
}

.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.bundledetailpage .productviewpanel .btn-info,
.productdetailpage .productviewpanel .btn-info {
  border: none;
  border-radius: 0px;
  padding: 8px 30px;
  width: auto;
  height: 82px;
  float: left;
  font-size: 17px;
}
.mycart .productpanel .favourite.wishpage .trash::after {
  display: none;
}
.title-input {
  background: #fbfbfb;
  border: 2px solid;
  color: black;
  font-weight: bold;
  padding: 0px 10px;
}
.bundlebtn:hover,
.bundlebtn:focus {
  text-decoration: none;
}

@media (max-width: 767px) {
  .bundledetailpage .productviewpanel .btn-info {
    border: none;
    border-radius: 0px;
    padding: 8px 8px;
    width: 70%;
    height: 60px;
    font-size: 20px;
  }
  .pay-success .panel-body .btn-bundle,
  .btn-bundle:hover,
  .btn-bundle:focus {
    padding-top: 15px !important;
  }
}
@media (min-width: 767px) {
  .pay-success .panel-body .btn-bundle,
  .btn-bundle:hover,
  .btn-bundle:focus {
    padding-top: 27px !important;
  }
}
#bundleedit .modal-header {
  padding: 15px;
  border: 0;
}
#bundleedit .close {
  float: right;
  font-size: 38px;
  font-weight: normal;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 1;
}
#bundleedit form {
  padding: 15px;
}
#bundleedit .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}
#bundleedit .form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 3px 0 0 0px;
  transition: all 200ms;
  opacity: 1;
}
#bundleedit .form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  color: #b1b1b1;
  /* text-transform: none;*/
  font-size: 12px;
  /* letter-spacing: 1px; */
  font-weight: normal;
}
#bundleedit .form-control1 {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 0px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  background-color: #fff;
  background: none !important;
  border-bottom: 1px solid #e4dfdf !important;
  -webkit-box-shadow: none !important;
  text-align: left !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
}
#bundleedit .form-control {
  border: none;
  border-radius: 0;
}
#bundleedit .marg-btm {
  margin-bottom: 5.5rem;
}
#bundleedit .marg-top {
  margin-top: 40px;
}
#bundleedit .btn-login {
  background-color: #59b2e0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59b2e6;
}
#bundleedit .btn-login:hover,
.profile-modal .btn-login:focus {
  color: #fff;
  background-color: #53a3cd;
  border-color: #53a3cd;
}
#bundleedit select {
  border: 0;
  width: 100%;
  background-color: #e8e8e8;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  margin-top: 11px;
  border-bottom: 1px solid #ddd;
  outline: 0 !important;
}
#bundleedit select:focus + .form-control-placeholder,
select:valid + .form-control-placeholder {
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  color: #b1b1b1;
  text-transform: none;
  font-size: 12px;
  /* letter-spacing: 1px; */
  font-weight: normal;
}
#bundleedit select .form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 3px 0 0 0px;
  transition: all 200ms;
  opacity: 1;
}
#bundleedit .btn-proceed,
.btn-proceed:hover,
.btn-proceed:focus {
  display: inline-block;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #17becd;
  border-color: #17becd;
  width: 100%;
  height: 44px;
  margin-bottom: 30px;
}
#bundleedit .btn-proceedc,
.btn-proceedc:hover,
.btn-proceedc:focus {
  display: inline-block;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  color: #17becd;
  background-color: transparent;
  border-color: #17becd;
  width: 100%;
  height: 44px;
  margin-bottom: 30px;
}
.select_address .radios .radio::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.select_address [type="radio"]:checked + label:before,
.select_address [type="radio"]:not(:checked) + label:before {
  background: #17becd !important;
  top: 4px !important;
  left: 4px !important;
}
.select_address .radios .radio::after {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100% !important;
  height: 20px !important;
  width: 20px !important;
  top: 4px !important;
  left: 4px !important;
  margin: auto !important;
  transition: background 0.25s linear !important;
  -webkit-transition: background 0.25s linear !important;
  border: 2px solid #17becd !important;
}
.select_address .radios input[type="radio"]:checked + .radio::after {
  border: 2px solid #17becd !important;
  background: #17becd !important;
}
.select_address .radios input[type="radio"]:checked + .radio {
  border-radius: 0px !important;
}
.select_address .radios .radio {
  padding-left: 0 !important;
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 1;
  border: 2px solid #f8f8f8 !important;
}
.select_address [type="radio"]:not(:checked) + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.pl-6 {
  padding-left: 6px;
}
.checkout_address .panel-heading {
  background: #901dfe;
  border-radius: 0px;
  padding: 15px;
  color: #fff;
}
.checkout_address .panel-heading h4 a {
  font-size: 18px;
  line-height: 26px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.line-navbar-two
  .lnt-dropdown-mega-menu
  .lnt-subcategroy-carousel-wrap
  .lnt-subcategory
  ul
  li:last-child {
  padding: 20px 20px;
  background-image: url(../img/arrowbg.png);
  background-position: 80% 50%;
}
a.btn-bundle {
  padding-top: 15px !important;
  text-decoration: none;
}
.avoid-clicks {
  pointer-events: none;
  opacity: 0.5;
}
.addtobundleTitle {
  color: rgba(133, 6, 255, 1) !important;
  font-weight: 600 !important;
  display: block;
  padding: 10px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.addtocartddp li a {
  text-transform: capitalize;
  cursor: pointer;
}
.gallery .thumbnails {
  height: 360px !important;
}
@media only screen and (min-width: 1400px) {
  .productlistpage .productpanel h6 {
    color: #292929;
    font-size: 26px;
    margin-bottom: 18px;
    margin-top: auto;
  }
}
button.btn.btn-info.logot {
  width: 100%;
}
.productdetailpage .productpanel h5.m-0 {
  margin: 0 !important;
}
.bdtd,
.bdtd:hover,
.bdtd:active {
  padding: 31px 29px !important;
  height: 82px !important;
}
.mycart .summary {
  height: auto;
}
@media only screen and (min-width: 1400px) {
  .ebtn,
  .ebtn:hover,
  .ebtn:active,
  .ebtn:focus,
  .ebtn:active:focus {
    padding: 9px !important;
  }
}

.ui-autocomplete {
  max-height: 50vh;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
  padding: 0px 0px !important;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: none !important;
  background: #901dfe !important;
}
.cusui {
  padding: 13px 20px !important;
}
.ui-widget.ui-widget-content::-webkit-scrollbar {
  display: none;
}
.carousel3 .productpanel h4 {
  min-height: 78px;
  max-height: 78px;
  overflow: hidden;
}
.carousel1 .producttitle {
  min-height: 72px;
  max-height: 72px;
  overflow: hidden;
}
.outofstock {
  position: absolute;
  top: 50%;
  left: 40%;
  color: red;
}
.color-red {
  color: red;
}
.loader {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(56, 54, 54, 0.9);
}
.center {
  z-index: 1000;
  margin: 15% auto;
  width: 130px;
  border-radius: 10px;
}
.center img {
  width: 128px;
}
.has-error {
  color: red;
}
.cart-label {
  position: absolute;
  background: #ff0405;
  padding: 3px 5px;
  border-radius: 50%;
  top: 15px;
  font-size: 12px;
  width: 25px;
  right: 20px;
  text-align: center;
  font-weight: 500;
}
.searchnav .input-group {
  width: 100%;
}
.searchnav .input-group.head-new-search input {
  color: #000;
}
.searchnav .input-group.head-new-search input::placeholder {
  color: #292929;
}
.searchnav .input-group .input-group-btn {
  width: 30px;
}
h6#mybnd-desktop-text {
  font-size: medium;
}
a {
  cursor: pointer !important;
}

/***** Home Page Card ****/
.home-cards {
  padding: 50px 80px;
  margin-top: 40px;
}
.home-cards h1 {
  font-size: 48px !important;
  font-weight: 700 !important;
}
.home-cards .cardimage img {
  text-align: right;
  margin: auto;
  margin-right: 0;
}

.home-cards.valuezonecard {
  position: relative;
  background-image: linear-gradient(166deg, #8223e3, #4848da);
}
.home-cards.valuezonecard::before {
  content: "";
  background-image: url(../img/bg-pattern.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: right;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.05;
}
.home-cards.bundlecard {
  color: #000;
  background-image: url(../img/right-side-home.png);
  background-color: #ebfc9c;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}
.home-cards p {
  font-weight: 400;
}
.home-cards.bundlecard h1,
.home-cards.bundlecard p {
  color: #000 !important;
}
.p0 {
  padding: 0px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.bdtd-toogle,
.bdtd-toogle:hover {
  padding: 20px 10px !important;
}
.clearfilter {
  padding: 3px 7px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
  cursor: pointer;
  position: absolute;
  color: #14bdcd;
  top: 10px;
  right: 45px;
  display: none;
}
.productlistpage .panel-group .panel + .panel {
  position: relative;
}
#forgot_pass {
  font-weight: 600;
  font-size: 15px;
  margin-right: 15px;
  text-transform: capitalize;
  text-decoration: none;
}
.mycart a.btn {
  padding: 20px 22px;
  height: auto;
}
.carousel-inner > .item.left,
.carousel-inner > .item.right {
  width: 100% !important;
}
.addtocart-float-btn {
  width: 80%;
  text-align: center;
  margin: 0 10%;
  position: absolute;
  bottom: -25px;
}
.addtocart-float-btn button {
  border: 0px;
}
.addtocart-float-btn .addtocart {
  background: #14bdcd;
  color: #fff;
  padding: 30px 0px;
  font-size: 20px;
  font-weight: 600;
  width: 80%;
}
.addtocart-float-btn .addtocart img {
  width: 24px !important;
  display: inline-block !important;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 5px;
}
.addtocart-float-btn .addtobundle-dots {
  background: #ddd;
  padding: 33px 12px;
}
.btn-recurring {
  line-height: 55px;
}
.exclusivs-carousel .owl-carousel .owl-stage-outer {
  overflow-y: -webkit-paged-x;
}
.btn-blue,
.btn-blue:hover,
.btn-black,
.btn-blue:hover {
  height: auto;
  padding: 15px 35px;
}
.landing-offer {
  max-width: 600px !important;
  z-index: 2;
}
.left-home,
.right-home {
  height: auto;
  padding-bottom: 50px;
}
.left-home {
  position: relative;
  background-image: linear-gradient(166deg, #8223e3, #4848da);
}
.left-home::before {
  content: "";
  background-image: url(../img/bg-pattern.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: right;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.05;
}
.title-anchor-btn {
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #323232;
  padding: 10px;
  background: #323232;
  color: #fff;
}
.title-anchor-btn:hover,
.title-anchor-btn:focus {
  color: #fff;
  text-decoration: none;
}
.mycart .no-discountprice {
  background-color: transparent;
  color: #fff;
  width: 65px;
  height: 38px;
  padding: 10px 15px;
  margin-bottom: 25px;
  position: relative;
  top: 0px;
  right: -40px;
  text-align: center;
}
#mybnd-desktop {
  height: 75px;
}
.newBundleName {
  margin-left: 10px;
  font-weight: bold;
  font-size: 24px;
}
@media only screen and (max-width: 1100px) {
  .addtocart-float-btn .addtobundle-dots {
    padding: 35px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .left-home,
  .right-home {
    width: 100%;
    height: auto !important;
    float: unset;
  }
  .landing-offer {
    padding: 25px;
    padding-bottom: 75px;
  }
  .home-orange-bg,
  .home-orange-bg1 {
    height: auto;
  }
}
li.logout-btn,
li.logout-btn:hover a {
  background-image: none !important;
}
.text-green {
  color: #28a745 !important;
}
@media only screen and (min-width: 1400px) {
  .ebtn,
  .ebtn:hover,
  .ebtn:active,
  .ebtn:focus,
  .ebtn:active:focus {
    height: 82px !important;
  }
}
.height60 {
  height: 60px;
}
.new_bu.panel-body {
  padding: 15px !important;
}
.newproductpanel {
  min-height: 100% !important;
  padding-bottom: 0 !important;
}
.newproductpanel .panel-body {
  padding: 15px !important;
}
.labadject::after {
  top: 40% !important;
}
.labadject::before {
  top: 43.5% !important;
}
.altr .labadject::before {
  top: 44.5% !important;
}
.m-0 {
  margin-top: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.colorbl {
  color: #14bdcd;
}
.leftnum {
  width: 2% !important;
  float: left;
  top: 35% !important;
  position: absolute;
}
.rightcon {
  width: 98% !important;
  float: right;
}
.cushr {
  border-top: 4px solid #323232;
}
.vcartLogout {
  cursor: pointer;
}
.required label,
.required .form-control1 {
  color: #f00 !important;
}
.required .form-control1 {
  border-bottom: 1px solid red !important;
}
.pb-20 {
  padding-bottom: 20px;
}
a.highlight {
  font-weight: 600 !important;
}
.text-white {
  color: #fff !important;
}
.otp-bottom a {
  display: inline-block !important;
}
.coupon-success {
  color: #ffffff;
  background-color: #3c763d;
  padding: 5px;
}

.offeredprice {
  text-decoration: line-through;
  margin-bottom: -39px !important;
  margin-top: 24px;
}

.productlistpage.product-listing-page .discountprice {
  top: -19px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
}

/* .btn.btn-default.productplus.cart-qty-plus::before {
  content: url(https://s3.eu-central-1.amazonaws.com/valuecartdevbucket/assets/plus.png) !important;
  width: 45px !important;
  height: 45px !important;
  display: inline-block !important;
} */

i.fa.fa-plus {
  content: url("https://s3.eu-central-1.amazonaws.com/valuecartdevbucket/assets/plus.png");
  width: 45px;
  height: 45px;
  display: inline-block;
}

.productlistpage .productpanel .productcountdiv .productplus,
.carousel3 .productpanel .productcountdiv .productplus {
  padding: 0px;
  background-image: url(https://s3.eu-central-1.amazonaws.com/valuecartdevbucket/assets/plus.png);
  height: 45px;
  width: 45px;
  display: inline-block;
  border-radius: 50%;
}

i.fa.fa-minus {
  content: url("https://s3.eu-central-1.amazonaws.com/valuecartdevbucket/assets/minus.png");
  width: 45px;
  height: 45px;
}

.productlistpage .productpanel .productcountdiv .productminus {
  padding: 0px;
  background-image: url(https://s3.eu-central-1.amazonaws.com/valuecartdevbucket/assets/minus.png);
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
