@font-face {
    font-family: 'Helvetica Neue LT Pro 45 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 45 Light'), url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT Pro 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 55 Roman'), url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT Pro 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 65 Medium'), url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT Pro 95 Black';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 95 Black'), url('../fonts/HelveticaNeueLTPro-Blk.woff') format('woff');
}

body {
    background: #f8f8f8;
}

.no-pd {
    padding-left: 0;
    padding-right: 0;
}

.no-pd-lt {
    padding-left: 0;
}

.no-pd-rt {
    padding-right: 0;
}

.headertop {
    background: #F3F7F8;
    padding-top: 4px;
    padding-bottom: 6px;
}

.headerlist {
    font-family: 'Helvetica Neue LT Pro 45 Light';
}

.headerlist.list-inline>li {
    padding: 0 4px;
}

.headertop ul li a,
.headerlist.list-inline>li p {
    color: #000000;
}

.topnavlocationimg {
    filter: invert(1);
}

.v-container {
    width: 92%;
    margin: auto;
}

@media only screen and (min-width: 1400px) {
    .v-container {
        width: 85.5%;
        margin: auto;
    }

    .v-container .navbar-brand {
        margin-top: 7px;
    }
}

/* Menu Bar */
.v-nav-var {
    float: left;
    margin: 10px 0;
    cursor: pointer;
}

.v-nav-var img {
    width: 20px;
}

.navtop {
    border: 1px solid #DFEAEE;
    height: 66px !important;
    padding-top: 16px;
}

.navbar-brand {
    height: auto;
    margin: 0px 36px 0 26px;
    width: 121px;
}

/* Search */
.searchnav {
    float: left;
    width: 43%;
}

.searchnav .input-group input {
    font-size: 16x;
}

.searchnav .input-group.head-new-search input {
    color: #000;
    font-family: 'Helvetica Neue LT Pro 45 Light';
    height: auto;
    padding: 4px;
}

.searchnav .input-group.head-new-search input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
}

.searchnav .input-group.head-new-search input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
}

.searchnav .input-group.head-new-search input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
}

/* Mobile Search */
.mob-search input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-family: 'Helvetica Neue LT Pro 45 Light';
    height: auto;
    padding: 4px 15px;
}

.mob-search input:focus {
    border: 0;
    box-shadow: none;
    outline: none;
}


.head-new-search img {
    width: 18px;
    margin: 0 0 0 6px;
}

.headerlist li a,
.headerlist li a:hover,
.headerlist .dropdown.open>a {
    color: #8505FF;
}

.navlist {
    display: flex;
    font-family: 'Helvetica Neue LT Pro 55 Roman';
}

.navlist li {
    align-self: center;
    padding: 0 0 0 30px;
    margin: 0;
}

.navlist li .navbar-brand1 {
    margin-top: 8px;
}

.navlist .cart-label {
    top: 0;
}

/* Wishlist */
.wishlist-lbl span,
.no-item-lbl,
.navlist li,
.navlist li a,
.navlist li a:hover {
    color: #000000;
    font-size: 14px;
}

.wishlist-icon,
.cart-icon,
.prof-icon {
    margin: 0 10px 0 0 !important;
}

.wishlist-icon,
.cart-icon {
    display: inline-block;
    float: none;
}

.wishlist-icon {
    height: 20px;
}

.cart-icon {
    width: 21px;
    float: left;
    margin: 10px 10px 0 0 !important;
}

.prof-icon {
    width: 22px;
}

.no-item-lbl {
    font-size: 13px;
    opacity: 0.5;
}

.head-new-search {
    margin-top: 4px;
}

/* Offer Tag */
.offer-sec {
    background: #8505FF;
    color: #fff;
    clear: both;
    display: flex;
    font-size: 14px;
    flex-direction: row;
    height: 42px;
    justify-content: center;
    padding: 7px 0;
    text-align: center;
}

.offer-sec strong {
    font-family: 'Helvetica Neue LT Pro 65 Medium';
    font-size: 20px;
    font-weight: 500;
}

.offer-sec img {
    margin: 0 12px;
}

.more-btn {
    color: #fff;
    padding: 4px 30px 4px 10px;
    background: #000 url(../img/vector-smart-object.png) no-repeat right 8px center;
    background-size: 12px;
}

.more-btn:hover,
.more-btn:focus {
    background: #000 url(../img/vector-smart-object.png) no-repeat right 8px center;
    color: #fff;
    background-size: 12px;
    text-decoration: none;
}

/* Banner carousel */
.vc-bn-carousel {
    margin: 18px 0;
}

.vc-bn-carousel.owl-carousel .owl-stage-outer {
    padding: 0;
}

.vc-bn-carousel.owl-carousel .owl-nav button {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 0 !important;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.vc-bn-carousel.owl-carousel .owl-nav button.owl-prev {
    left: 15px;
}

.vc-bn-carousel.owl-carousel .owl-nav button.owl-next {
    right: 15px;
}

.vc-bn-carousel.owl-carousel .owl-nav button span {
    background: url(../img/next-arrow@2x.png) center no-repeat;
    display: inline-block;
    padding: 26px;
}

.vc-bn-carousel.owl-carousel .owl-nav button.owl-prev span,
.pro-cr.owl-carousel .owl-nav button.owl-prev span {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 2px;
    left: -2px;
}

.vc-bn-carousel.owl-carousel .owl-nav button.owl-next span {
    top: 2px;
    right: -2px;
}

.vc-bn-carousel.owl-carousel .owl-nav button.disabled span,
.pro-cr.owl-carousel .owl-nav button.disabled span {
    opacity: 0.3;
}

.vc-bn-carousel.owl-carousel .owl-nav button span {
    position: relative;
}

.vc-bn-carousel.owl-carousel .owl-nav button span i {
    display: none;
}

.vc-ad-box {
    background: #e8e8e8 url(../img/huge-offer.png) no-repeat right 20px bottom 15px / 50%;
    border-right: 4px solid #fff;
    font-family: 'Helvetica Neue LT Pro 55 Roman';
    padding: 50px 50px;
}

.vc-ad-box a {
    text-decoration: none;
}

.vc-ad-box-2 {
    background-image: url(../img/big-offer.png);
    border-left: 4px solid #fff;
    border-right: 0;
}

.vc-ad-box h2 {
    color: #000000;
    font-size: 50px;
    font-family: 'Helvetica Neue LT Pro 95 Black';
    margin: 0;
}

.vc-ad-box p {
    color: #000000;
    font-size: 16px;
    max-width: 40%;
    margin: 30px 0 40px 0;
}

.spn-btn {
    background: #000 url(../img/vector-smart-object.png) no-repeat right 24px center;
    background-size: 14px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    padding: 14px 50px 14px 30px;
}

/* Products */
.pr-ttl {
    background: url(../img/vc-batch.svg) no-repeat;
    color: #000000;
    font-family: 'Helvetica Neue LT Pro 95 Black';
    font-size: 24px;
    font-weight: 800;
    float: left;
    line-height: 42px;
    margin: 0;
    padding: 0 0 0 56px;
}

.pro-hd {
    overflow: hidden;
    padding: 44px 0 16px 0;
}

.v-btn,
.v-btn:hover,
.v-btn:focus {
    color: #8505FF;
    font-family: 'Helvetica Neue LT Pro 55 Roman';
    font-size: 18px;
    float: right;
    margin-top: 8px;
    text-decoration: none;
}

.pro-cont {
    background: #fff;
    padding: 60px 40px;
}

.pro-cr a {
    align-self: center;
    color: #000000;
    display: inline-block;
    margin: 0 40px;
    width: 176px;
    text-align: center;
    text-decoration: none;
}

.pro-cr a span {
    display: block;
    font-family: 'Helvetica Neue LT Pro 65 Medium';
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.pro-cr.owl-carousel {
    text-align: center;
}

.pro-cr.owl-carousel .owl-stage-outer {
    padding-bottom: 0;
}

.pro-cr.owl-carousel .owl-item img {
    height: 140px;
    margin: auto;
    width: auto;
}

.pro-cr.owl-carousel .owl-nav button {
    padding: 0 !important;
    height: 84px;
    width: 44px;
    bottom: 0;
    margin: auto;
}

.pro-cr.owl-carousel .owl-nav button.owl-prev {
    left: -40px;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 0px 4px #dadada;
}

.pro-cr.owl-carousel .owl-nav button.owl-next {
    right: -40px;
    border-radius: 8px 0px 0px 8px;
    box-shadow: -2px 0px 4px #dadada;
}

.pro-cr.owl-carousel .owl-nav button span i {
    display: none;
}

.pro-cr.owl-carousel .owl-nav button span {
    background: url(../img/next-arrow@2x.png) no-repeat center center / 40%;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    top: 4px;
}

.pr-dt {
    padding: 0 8px;
}

.pr-dt i {
    font-size: 13px;
    font-style: normal;
}

.pro-cr-3 .pr-dt span {
    font-size: 15px;
    margin: 4px 0 6px 0;
}

.pr-dt strong {
    font-size: 18px;
    font-weight: 500;
}

.cat-sec {
    background: transparent;
    padding: 60px 40px 60px 40px;
}

.cat-sec .item {
    background: #fff;
}

.cat-sec .item {
    background: #fff;
    border-radius: 50%;
    height: 240px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px 20px 20px 20px;
    width: 240px;
}

.cat-sec .owl-carousel .owl-item img {
    height: 120px;
}

.cat-sec .owl-carousel .owl-nav button.owl-prev {
    left: -54px;
    background: transparent !important;
    border-radius: 8px 0px 0px 8px;
    box-shadow: -2px 0px 4px #dadada;
}

.cat-sec .owl-carousel .owl-nav button.owl-next {
    background: transparent !important;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 0px 4px #dadada;
}

/* Brands */
.brand-cr {
    padding: 30px 40px;
}

.brand-cr .item {
    display: flex;
    height: 100px;
    justify-content: center;
}

.brand-cr .owl-carousel .owl-item img {
    height: auto;
    align-self: center;
}

/* Download App */
.dwn-app {
    background: #fff;
    color: #6A6A6A;
    margin-top: 40px;
    position: relative;
}

.dwn-app:after {
    content: "";
    background: url("../img/dots-pattern.png") no-repeat top right;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.dwn-app h2 {
    color: #000000;
    font-family: 'Helvetica Neue LT Pro 95 Black';
    font-size: 36px;
    font-weight: 700;
}

.dwn-app h3 {
    font-family: 'Helvetica Neue LT Pro 55 Roman';
    font-size: 26px;
    font-weight: 400;
    margin-top: 10px;
}

.dwn-app p {
    font-family: 'Helvetica Neue LT Pro 45 Light';
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
}

.dwn-app-txt {
    padding: 86px 0 80px 0px;
}

.mb-src img {
    margin: auto;
}

.how-to {
    background: #fff;
    border-top: 1px solid #DEDEDE;
    margin-top: 40px;
}

.how-to ul {
    margin: 0;
}

.how-to ul li {
    align-self: center;
    border-right: 1px solid #DEDEDE;
    list-style: none;
    text-align: center;
    width: 20%;
    height: 260px;
    float: left;
    padding: 60px 40px 80px 40px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.how-to ul li:first-child {
    border-left: 1px solid #DEDEDE;
}

.how-to ul li:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #585858;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.how-to ul li h3 {
    font-family: 'Helvetica Neue LT Pro 55 Roman';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.how-to ul li span {
    color: #8505FF;
    font-family: 'Helvetica Neue LT Pro 45 Light';
    font-size: 18px;
    opacity: 0.4;
    width: 100%;
    text-align: center;

    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 1;
}

.how-to ul li img {
    margin: auto;
}

/* Footer */
.footer {
    margin-top: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .vc-ad-box {
        padding: 40px;
    }

    .vc-ad-box h2 {
        font-size: 34px;
    }

    .vc-ad-box {
        background-size: 52%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navlist li {
        padding: 0 0 0 10px;
    }

    .how-to ul li {
        padding: 60px 30px 80px 30px;
    }

    .how-to ul li h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait) {
    .navlist li {
        padding: 0 0 0 10px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape) {
    .how-to .pr-ttl {
        line-height: 24px;
        padding: 68px 0 40px 0px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 1024px) {
    .vail-text {
        display: none;
    }

    .pro-cr a {
        width: auto;
    }

    .pop-zone.owl-carousel .owl-item img {
        height: 100px;
    }

    .owl-carousel .owl-item img.desk {
        display: none;
    }

    .owl-carousel .owl-item img.mob {
        display: block !important;
    }

    .vc-ad-box {
        background-size: 47%;
    }

    .vc-ad-box-2,
    .vc-ad-box {
        padding: 30px 25px;
    }

    .vc-ad-box h2 {
        font-size: 24px;
    }

    .vc-ad-box p {
        font-size: 12px;
        margin: 12px 0 20px 0;
        max-width: 52%;
    }

    .spn-btn {
        padding: 14px 50px 12px 30px;
    }
}

@media only screen and (max-width: 768px) {

    .v-container {
        width: 100%;
    }

    .v-nav-var {
        margin: 0;
    }

    .navbar-brand {
        padding: 0;
        margin-left: 32px;
    }

    .searchnav .input-group.head-new-search input {
        display: none;
    }

    .searchnav .input-group {
        width: 40%;
        border: 0;
    }

    .vc-bn-carousel {
        margin: 8px 0 8px 0;
    }

    .navtop {
        height: 58px !important;
        padding: 15px 6px 15px 15px;
    }

    .more-btn {
        padding: 4px 20px 4px 10px;
        width: 10px;
        overflow: hidden;
        text-indent: -400px;
    }

    .pro-cont {
        padding: 30px 40px;
    }

    .wl-txt,
    .no-item-lbl,
    .prof-lbl {
        display: none;
    }

    .searchnav {
        display: block;
        margin: 0 4px 0 0 !important;
    }

    .cat-sec {
        padding: 0px 40px 0px 40px;
    }

    .cart-icon {
        margin-top: 0 !important;
    }

    .navlist li {
        padding: 0 0 0 10px;
    }

    .offer-sec strong {
        font-size: 15px;
        line-height: 32px;
        width: 74%;
        overflow: hidden;
    }

    .pro-hd {
        padding: 20px 15px 6px 15px;
    }

    .mb-src img {
        margin: auto;
    }

    .dwn-app-inn {
        text-align: center;
    }

    .dwn-app-txt {
        padding: 26px 0 80px 0px;
    }

    .dwn-app h2 {
        font-size: 26px;
    }

    .dwn-app h3 {
        font-size: 16px;
    }

    .how-to {
        padding-bottom: 28px;
    }

    .how-to ul li {
        width: 100%;
        border: 1px solid #DEDEDE;
        border-top: 0;
    }

    .how-to ul li:first-child {
        border-top: 1px solid #DEDEDE;
    }

    .pr-ttl {
        background: url(../img/vc-batch.svg) no-repeat top left / 24px;
        font-size: 18px;
        line-height: 25px;
        padding: 3px 0 0px 30px;
    }

    .v-btn {
        font-size: 13px;
    }

    .dwn-app:after {
        display: none;
    }

    .mob-search input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 10px !important;
    }

    .mob-search input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 10px !important;
    }

    .mob-search input::-ms-input-placeholder {
        /* Microsoft Edge */
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 667px) {

    .vc-ad-box-2,
    .vc-ad-box {
        border: 0;
        margin-top: 6px;
        padding: 20px 15px;
    }
}

@media only screen and (max-width: 568px) {
    .navlist li {
        padding: 0 0 0 2px;
    }

    .offer-sec strong {
        width: 84%;
    }

    .spn-btn {
        padding: 10px 40px 8px 16px;
        background: #000 url(../img/vector-smart-object.png) no-repeat right 16px center / 12%;
    }
}

@media only screen and (min-width: 1024px) {
    .how-to .pr-ttl {
        background: url(../img/vc-batch.svg) no-repeat 20px 30px/ 36%;
        line-height: 28px;
        padding: 78px 0 40px 0px;
        font-size: 20px;
    }
}

.owl-carousel .owl-item img.mob {
    display: none;
}

.vail-text {
    display: inline-block;
    font-size: 14px;
}