<!--Footer starts here-->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="img/logo.png" class="img-responsive footer-logo">
                <ul class="footerlist">
                    <li>About us</li>
                    <li>Delivery policy</li>
                    <li>Terms & Conditions</li>
                    <li>Return policy</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Help</h4>
                <ul class="footerlist">
                    <li>FAQ</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="col-md-5">
                <h4>Follow us on:</h4>
                <ul class="footerlist list-inline">
                    <a href="#">
                        <li class="social">
                            <i class="fa fa-facebook"></i>
                        </li>
                    </a>
                    <a href="#">
                        <li class="social">
                            <i class="fa fa-twitter"></i>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <h5>© 2018 Valucart. All rights reserved.</h5>
    </footer>
</section>
<!--Footer ends here-->

<!-- Modal -->
<div class="modal fade profile-modal" id="myModal" role="dialog">
    <div class="modal-dialog profile-modal">

        <!-- Modal content-->
        <div class="modal-content profile-modal">
            <div class="modal-header profile-modal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- <h4 class="modal-title">Modal Header</h4> -->
            </div>
            <div class="modal-body profile-modal">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-login">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a href="#" class="active" id="register-form-link">Register</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="#" id="login-form-link">Sign in</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form id="register-form" name="register_form" role="form" method="post" style="display: block;margin-top: 20px;">
                                                <p id="reg_error" style="color: red;" class="fa-2x marg-btm text-center"></p>
                                                <div class="form-group marg-btm">
                                                    <input type="text" name="uname" id="uname" class="form-control form-control1">
                                                    <label class="form-control-placeholder uname" for="name">name</label>
                                                </div>
                                                <div class="form-group marg-btm">
                                                    <input type="text" name="email" id="email" class="form-control form-control1">
                                                    <label class="form-control-placeholder email" for="email">E-mail id</label>
                                                </div>
                                                <div class="form-group marg-btm">
                                                    <input type="text" name="phone" id="phone" class="form-control form-control1">
                                                    <label class="form-control-placeholder phone" for="phone">phone number</label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="pwd" id="pwd" class="form-control form-control1">
                                                    <label class="form-control-placeholder pwd" for="pwd">password</label>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12" style="margin-top: 20px;">
                                                            <button type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <h5 style="display: inline-block;">or signup with</h5>
                                                    <div style="float:right">
                                                        <img src="img/fb.png" alt="google-plus" style="margin-right: 10px;" />
                                                        <img src="img/google+.png" alt="google-plus" />
                                                    </div>
                                                </div>
                                            </form>
                                            <form id="login-form" role="form" style="display: none;margin-top: 20px;">
                                                <div class="login-action-msg">
                                                </div>
                                                <div class="form-group  marg-btm">
                                                    <input type="text" id="usr" class="form-control form-control1 login_username">
                                                    <label class="form-control-placeholder" for="usr">username</label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" id="lpwd" class="form-control form-control1 login_password">
                                                    <label class="form-control-placeholder" for="lpwd">password</label>
                                                </div>
                                                <div class="form-group text-center">
                                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                                    <label for="remember">Remember Me</label>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-register">Sign in</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    var city = localStorage.getItem('city');
    var area = localStorage.getItem('area');
    if (city == null || area == null) {
        window.location.replace("<%= process.env.BASEURL %>city");
    }
</script>
<!--    Includes all functions-->
<script src="js/main.js"></script>

<!--    owlcarousel js-->
<script src="js/owlcarousel.js"></script>
<!--    nav js-->
<script src="js/jquery.touchSwipe.min.js"></script>
<script src="js/line.js"></script>
<script src="js/classie.js"></script>
<script src="js/register.js"></script>
<script src="js/uisearch.js"></script>
<script>
    new UISearch(document.getElementById('sb-search'));
</script>
<script>
    $('.radio-group .radio').click(function () {
        $(this).parent().find('.radio').removeClass('selected');
        $(this).addClass('selected');
        var val = $(this).attr('data-value');
        //alert(val);
        $(this).parent().find('input').val(val);
    });
</script>
<script>
    //Modal toggle 
    $(function () {

        $('#register-form-link').click(function (e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        $('#login-form-link').click(function (e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });
</script>
<% include login_post %>
    <div class="modal fade mycart" id="couponModal" role="dialog">
        <div class="mycart modal-dialog">

            <!-- Modal content-->
            <div class="mycart modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!-- <h4 class="modal-title">Modal Header</h4> -->
                </div>
                <div class="modal-body">
                    <h3>Have a coupon code?
                        <br> Enter below to redeem...</h3>
                    <div class="input-group" style="padding: 18px;margin-bottom: 20px">
                        <input type="text" class="form-control" placeholder="Enter Code">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-coupon">Apply</button>
                        </div>
                        <!-- /btn-group -->
                    </div>
                    <h5>or use one of the codes below...</h5>
                    <div class="eyedio">
                        <input class="eyedio__radio" type="radio" name="blink" id="yes">
                        <span class="eyedio__eye"></span>
                        <label class="eyedio__label" for="yes">
                            <button class="btn1">VC20</button>
                        </label>
                        <h6>20% off on no minimum purchase. Valid till 31 May 2018.</h6>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal11" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="background-color: #e8e8e8; border-radius: 0;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group marg-btm">
                                    <input type="text" id="name" class="form-control form-control1" value="Bundle 01">
                                    <label class="form-control-placeholder" for="name">Name</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group marg-btm">
                                    <select>
                                        <option>15 days</option>
                                        <option value="dubai">1month</option>
                                        <option value="sharjah">3months</option>
                                        <option value="abu">6months</option>
                                    </select>
                                    <label class="form-control-placeholder" for="name">Frequency</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group marg-btm">
                                    <input type="text" id="del_date" class="form-control form-control1" value="20 jun 2018">
                                    <label class="form-control-placeholder" for="del_date">Next delivery date</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group marg-btm">
                                    <input type="text" id="pdel_date" class="form-control form-control1" value="5 jun 2018">
                                    <label class="form-control-placeholder" for="pdel_date">Previous delivery date</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group marg-btm">
                                    <input type="text" id="sdate" class="form-control form-control1" value="5 march 2018">
                                    <label class="form-control-placeholder" for="sdate">Start date</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-md-3 col-xs-6">
                                <button class="btn btn-proceed">Save</button>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <button class="btn btn-proceedc">Cancel</button>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <a class="removebundle" href="#">
                                    <p>Remove Bundle</p>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Ends -->
    <!-- Bundle name edit -->
    <div class="bnd-details">
        <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" style="background-color: #e8e8e8; border-radius: 0;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group marg-btm">
                                        <input type="text" id="name" class="form-control form-control1" value="Bundle 01">
                                        <label class="form-control-placeholder" for="name">Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 30px;">
                                <div class="col-md-3 col-xs-6">
                                    <button class="btn btn-proceed">Save</button>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <button class="btn btn-proceedc">Cancel</button>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a class="removebundle" href="#" style="text-decoration: none;">
                                        <p style="color: #d80000;text-align: center; padding-top: 15px; ">Remove Bundle</p>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Modal -->
<div id="bundleeditModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="background-color: #e8e8e8; border-radius: 0;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group marg-btm">
                                <input type="text" id="name" class="form-control form-control1" value="Bundle 01">
                                <label class="form-control-placeholder" for="name">Name</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group marg-btm">
                                <select>
                                    <option>15 days</option>
                                    <option value="dubai">1month</option>
                                    <option value="sharjah">3months</option>
                                    <option value="abu">6months</option>
                                </select>
                                <label class="form-control-placeholder" for="name">Frequency</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group marg-btm">
                                <input type="text" id="name" class="form-control form-control1" value="20 jun 2018">
                                <label class="form-control-placeholder" for="name">Next delivery date</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group marg-btm">
                                <input type="text" id="name" class="form-control form-control1" value="5 jun 2018">
                                <label class="form-control-placeholder" for="name">Previous delivery date</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group marg-btm">
                                <input type="text" id="name" class="form-control form-control1" value="5 march 2018">
                                <label class="form-control-placeholder" for="name">Start date</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col-md-3 col-xs-6">
                            <button class="btn btn-proceed">Save</button>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <button class="btn btn-proceedc">Cancel</button>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <a class="removebundle" href="#">
                                <p>Remove Bundle</p>
                            </a>
                        </div>


                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->

    </body>

    </html>