<div class="panel panel-default productpanel">
    <div class="panel-body">

        <i class="fa fa-heart wishheart" ng-if="loggedStatus" data-type="add" ng-click="addwish(product.pd_id, false, $event.target)"></i>

        <div class="row">
            <div class="col-xs-6">
                <p class="discountprice" ng-if="product.pdt_percentage">{{product.pdt_percentage}}%</p>
                <h4>
                    <a ng-href="/product-detail/{{product.pd_id}}/{{product.pd_name | spaceless}}" ng-bind-html="product.pd_name"></a>
                </h4>
                <h5>
                    <img src="img/grammeter.png" class="img-responsive gramimg"> {{product.p_quantity}}
                </h5>
                <h5 class="offeredprice" ng-if="product.pdt_price"> {{product.p_price}} AED</h5>
                <h6>
                    <span ng-if="product.pdt_price">
                        {{product.pdt_price}}
                    </span>
                    <span ng-if="!product.pdt_price">
                        {{product.p_price}}
                    </span>
                </h6>
            </div>
            <div class="col-xs-6">
                <img src="{{product.p_image}}" class="img-responsive productimg">
            </div>

        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="productcountdiv button-container">
                    <button class="btn btn-default productminus cart-qty-minus" ng-click="qty_minus('qty_',product.pd_id)" value="-">
                        <i class="fa fa-minus"></i>
                    </button>
                    <!--<p class="productcount">1</p>-->
                    <input type="text" name="qty_{{product.pd_id}}" maxlength="12" value="1" class="input-text qty  productcount" disabled/>
                    <button class="btn btn-default productplus cart-qty-plus" ng-click="qty_plus('qty_',product.pd_id)" value="+">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-6">
                <div ng-if="loggedStatus==true">
                    <a ng-click="addtocart(product.pd_id)">
                        <button class="btn btn-info">
                            <img src="img/addtocart.png" class="img-responsive addtocart"> Add to cart</button>
                    </a>
                </div>
                <div ng-if="loggedStatus != true">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <button class="btn btn-info">
                            <img src="img/addtocart.png" class="img-responsive addtocart"> Add to cart</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>